<!--COMP 523 Fall 2016 - Orange County Living Wage-->
<!--Mobile App made by Eric Barbee & Max Hudnell-->

<ion-view>
  <ion-nav-title>
    <span class="view-title">About Us</span>
  </ion-nav-title>

  <ion-content class="background">

    <div class="card">
      <a class="item item-avatar item-text-wrap" onclick="window.open('http://www.orangecountylivingwage.org/', '_system')">
        <img src="img/OCLW.png">
        <h2>Orange County Living Wage</h2>
        <p>is a voluntary non-profit 501(c)3 organization that is focused on promoting a living wage in Orange County, North Carolina.  Through our employer certification program we certify Orange County employers that pay their employees a living wage.  The certification is voluntary on the part of employers.</p>
      </a>
      
      <a class="item item-avatar item-text-wrap" onclick="window.open('http://www.cs.unc.edu/', '_system')">
        <img src="img/UNCCS.png">
        <h2>UNC-Chapel Hill Computer Science Department</h2>
        <p>This app was developed by the following students of the UNC Computer Science Department:
          <br>Eric Barbee, Max Hudnell, Chris Lathrop, Daniel Piccot</p>
      </a>
    </div>

    <!--<div class="card text-center padding">
      <h1>About Us</h1>
      <p><a onclick="window.open('http://www.orangecountylivingwage.org/', '_system')">Orange County Living Wage</a> is a voluntary non-profit 501(c)3 organization that is focused on promoting a living wage in Orange County, North Carolina.  Through our employer certification program we certify Orange County employers that pay their employees a living wage.  The certification is voluntary on the part of employers.</p>

      <br>
      <br>
      <p>
        This app was developed by the following students of the <a onclick="window.open('http://www.cs.unc.edu/', '_system')">UNC-Chapel Hill Computer Science Department</a>:
        <br>
        Eric Barbee, Max Hudnell, Chris Lathrop, Daniel Piccot
      </p>

    </div>-->
  </ion-content>

</ion-view>