<!--COMP 523 Fall 2016 - Orange County Living Wage-->
<!--Mobile App made by Eric Barbee & Max Hudnell-->

<ion-view>
  <ion-nav-title>
    <span class="view-title">Orange County Living Wage</span>
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <a class="button button-clear icon ion-help-circled" ng-href="#/about"></a>
  </ion-nav-buttons>

  <ion-content class="background">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div ng-show="showContent">
      <div class="card">
        <div class="item item-divider item-calm">
          Search By Keyword:
        </div>
        <form ng-submit="search()">
          <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="formData.query">
          <input type="submit" class="hideSubmit">
        </label>
        </form>
      </div>
      <div class="card">
        <div class="item item-divider item-calm">
          Browse By Category:
        </div>
        <ion-list>
          <ion-item class="item-icon-left item-icon-right" ng-href="#/organizations/-2/Featured">
            <i class="icon ion-featured"></i> Featured
            <i class="icon ion-ios-arrow-right"></i>
          </ion-item>
          <ion-item class="item-icon-left item-icon-right" ng-repeat="cat in cats" ng-href="{{cat.hrefUrl}}">
            <i class="icon ion-{{$index}}"></i>
            {{cat.CategoryName}}
            <i class="icon ion-ios-arrow-right"></i>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="timeout text-center padding-horizontal" ng-show="showTimeout">
      <h3 class="timeoutText">Oops! Couldn't load the page.</h3>
      <p class="timeoutText">You may not be connected to the internet. Pull down to refresh.</p>
    </div>
  </ion-content>

</ion-view>