<ion-view>
  <ion-nav-title>
    <span class="view-title">{{name}}</span>
  </ion-nav-title>

  <ion-content class="background">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div ng-show="showContent">
      <div class="card">
        <ion-item class="item-text-wrap">
          <b>{{deets.EmployerName}}</b>
          <p>
            {{deets.Address}} {{deets.Address2}}
            <br> 
            {{deets.City}}, {{deets.State}} {{deets.Zip}}
          </p>
          <br>
          <p>{{deets.ShortDescription}}</p>
          <br>

          <button class="button button-block button-outline button-dark icon ion-map" ng-click="openDirections()" ng-show="showDirections">
            Get Directions
          </button>
          <button class="button button-block button-outline button-dark icon ion-home" ng-click="openWebsite()" ng-show="showWebsite">
            Visit Website  
          </button>
          <button class="button button-block button-outline button-dark icon ion-ios-telephone" ng-click="callNumber()" ng-show="showPhone">
            Call Now 
        </button>
        </ion-item>
      </div>
    </div>

    <div class="timeout text-center padding-horizontal" ng-show="showTimeout">
      <h3 class="timeoutText">Oops! Couldn't load the page.</h3>
      <p class="timeoutText">You may not be connected to the internet. Pull down to refresh.</p>
    </div>
  </ion-content>

</ion-view>