<!--COMP 523 Fall 2016 - Orange County Living Wage-->
<!--Mobile App made by Eric Barbee & Max Hudnell-->

<ion-view>
  <ion-nav-title>
    <span class="view-title">{{parentName}}</span>
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="popover.show($event)" ng-show="sortedBy != ''">
      <b>Sort</b>
    </button>
  </ion-nav-buttons>
 
  <ion-content class="background">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div ng-show="showContent">
      <div class="card">
        <ion-item ng-show="noResults">
          <b>Check back later for Featured employers!</b>
        </ion-item>
        <ion-list ng-hide="noResults">
          <ion-item class="item-icon-right" ng-repeat="org in orgs" ng-href="#/organization/{{org.id}}/{{org.EmployerName}}">
            <b>{{org.EmployerName}}</b>
            <p>
              {{org.Address}}
              <br>
              {{org.City}}
              <span class="item-note calm" ng-show="showDistance">
                <b>{{org.distance}} mi</b>
              </span>
              </p>
            <i class="icon ion-ios-arrow-right"></i>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="timeout text-center padding-horizontal" ng-show="showTimeout">
      <h3 class="timeoutText">Oops! Couldn't load the page.</h3>
      <p class="timeoutText">You may not be connected to the internet. Pull down to refresh.</p>
    </div>
  </ion-content>

</ion-view>