<!--COMP 523 Fall 2016 - Orange County Living Wage-->
<!--Mobile App made by Eric Barbee & Max Hudnell-->

<ion-view>
	<ion-nav-title>
		<span class="view-title">Search</span>
	</ion-nav-title>

	<ion-content class="background">
		<div class="card">
			<form ng-submit="search()">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="formData.query">
        <input type="submit" class="hideSubmit">
      </label>
      </form>
		</div>

    <div ng-show="showContent">
  		<div class="card" ng-show="!noResults">
  			<ion-list>
  				<ion-item class="item-icon-right" ng-repeat="org in orgs" ng-href="#/organization/{{org.Id}}/{{org.EmployerName}}">
  					<b>{{org.EmployerName}}</b>
  					<p>
  						{{org.CategoryName}} 
              <br>{{org.Address}}<br>
  						{{org.City}}
  						<span class="item-note calm" ng-show="showDistance">
                <b>{{org.Distance}} mi</b>
              </span>
  					</p>
  					<i class="icon ion-ios-arrow-right"></i>
  				</ion-item>
  			</ion-list>
  		</div>
  		<div class="card" ng-show="noResults">
  			<ion-item>
  					<b>No Results.</b>
  				</ion-item>
  		</div>
    </div>

    <div class="timeout text-center padding-horizontal" ng-show="showTimeout">
      <h3 class="timeoutText">Oops! Couldn't load the page.</h3>
      <p class="timeoutText">You may not be connected to the internet. Connect and try again.</p>
    </div>
	</ion-content>

</ion-view>