<!--COMP 523 Fall 2016 - Orange County Living Wage-->
<!--Mobile App made by Eric Barbee & Max Hudnell-->

<ion-popover-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">Sort By:</h1>
  </ion-header-bar>
  <ion-content>
    <ul class="list">
      <li class="item item-icon-right" ng-click="sort_dist()">
        Distance
        <i class="icon ion-checkmark" ng-show="sortedBy == 'dist'"></i>
      </li>
      <li class="item item-icon-right" ng-click="sort_alpha()">
        Name
        <i class="icon ion-checkmark" ng-show="sortedBy == 'name'"></i>
      </li>
    </ul>
  </ion-content>
</ion-popover-view>