<!--COMP 523 Fall 2016 - Orange County Living Wage-->
<!--Mobile App made by Eric Barbee & Max Hudnell-->

<ion-view>
  <ion-nav-title>
    <span class="view-title">{{parentName}}</span>
  </ion-nav-title>

  <ion-content class="background">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div ng-show="showContent">
      <div class="card">
        <ion-list>
          <ion-item class="item-icon-right" ng-repeat="cat in cats" ng-href="{{cat.hrefUrl}}">
            {{cat.CategoryName}}
            <i class="icon ion-ios-arrow-right"></i>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="timeout text-center padding-horizontal" ng-show="showTimeout">
      <h3 class="timeoutText">Oops! Couldn't load the page.</h3>
      <p class="timeoutText">You may not be connected to the internet. Pull down to refresh.</p>
    </div>
  </ion-content>

</ion-view>