/* COMP 523 Fall 2016 - Orange County Living Wage 
   Mobile App made by Eric Barbee & Max Hudnell */

/* Empty. Add your own CSS if you like */
.background {
    /*background-color: #f6f6f6;*/
    background-color: #f4f2e9;
}

/*This hides the submit button for search*/
.hideSubmit {
    position: absolute;
    right: -999px;
    height: 1px;
    width: 1px;
}

.timeout{
    margin-top: 20%;
}

.timeoutText {
    color: dimgray;
}

.popover {
  height:160px; /* this overwrites the default height (280px) for ionic popover */
}

/*These are the icons for the top level categories.
  These came from https://www.iconfinder.com/iconsets/kameleon-free-pack-rounded and are free for commercial use.
  The icons are named (numbered) by the index of the returned array.
  NOTE: If there are changes to the database, these icons will need to be changed.*/
.ion-featured::before {
  background-image: url('../img/Featured.png') !important;
  background-size: 32px 32px;
    display: inline-block;
    width: 32px; 
    height: 32px;
    content:"";
  }

.ion-6::before {
  background-image: url('../img/Shopping.png') !important;
  background-size: 32px 32px;
    display: inline-block;
    width: 32px; 
    height: 32px;
    content:"";
  }

.ion-2::before {
  background-image: url('../img/Food.png') !important;
  background-size: 32px 32px;
    display: inline-block;
    width: 32px; 
    height: 32px;
    content:"";
  }

.ion-3::before {
  background-image: url('../img/Health.png') !important;
  background-size: 32px 32px;
    display: inline-block;
    width: 32px; 
    height: 32px;
    content:"";
  }

.ion-4::before {
  background-image: url('../img/Housing.png') !important;
  background-size: 32px 32px;
    display: inline-block;
    width: 32px; 
    height: 32px;
    content:"";
  }

.ion-0::before {
  background-image: url('../img/Education.png') !important;
  background-size: 32px 32px;
    display: inline-block;
    width: 32px; 
    height: 32px;
    content:"";
  }

.ion-5::before {
  background-image: url('../img/Services.png') !important;
  background-size: 32px 32px;
    display: inline-block;
    width: 32px; 
    height: 32px;
    content:"";
  }

.ion-1::before {
  background-image: url('../img/Faith.png') !important;
  background-size: 32px 32px;
    display: inline-block;
    width: 32px; 
    height: 32px;
    content:"";
  }